<div class="comment-<%=comm.id %>">
  <div class="comment_content">
  	<%= comm.user.username %>:
    <%= comm.content %>
  </div>
  <% if comm.user == current_user %>
	  <%= link_to "Edit", edit_post_comment_path(post, comm), remote: true %>
	  <%= link_to "Delete", post_comment_path(post, comm), :method => :delete, remote: true %>
  <% end %>
</div>