<% @post.each do |post| %>
  <div>
	  <%= link_to image_tag(post.photo.url(:small)), post_path(post) %>
	  <%= post.viewcount %>
	  <%= post.likecount %>
	  <%= post.comments.length %>
	  <!-- <%= post.commentcount %> -->
  </div>
<% end %>