<div id="wall" class="row-fluid">
  <% @post.each do |post| %>
    <div class="span3 item">
      <div class="picture">
        <%= link_to image_tag(post.photo.url(:small)), post_path(post), class: "image" %>
          <div class="meta">
              <%= image_tag "eye97.png", class: "icons" %> <%= post.viewcount %>
              <%= image_tag "like47.png", class: "icons" %> <%= post.likes.length %>
              <%= image_tag "speech95.png", class: "icons" %> <%= post.comments.length %>
          </div>
      </div>
    </div>
  <% end %>
</div>


