<% if current_user == @post.user %>
	<div>
		<%= link_to "Edit", edit_post_path(@post) %>
		<%= link_to "Delete", post_path(@post), method: :delete %>
	</div>
<% end %>

<div>
  <h1><%= @post.title %></h1>
</div>

<div>
  <%= image_tag @post.photo.url(:large) %>
</div>

<div>
	<p><%= @post.description %></p>
</div>

<% if user_signed_in? %>
  <%= render "likes/form", post: @post, like: @like %>
	<%= render "comments/form", post: @post, comment: @comment %>
<% end %>

<div class="postcomments">
	<% @post.comments.each do |comment| %>
	  <%= render "comments/comment", post: @post, comm: comment %>
	<% end %>
</div>